.hero-content hr {
    margin-bottom: 20px;
}
/* Center hero section content */
.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 20px; /* less padding than before for better mobile look */
    flex-direction: column; /* ensures content stacks vertically */
}

/* Make sure the hero-text takes full width on mobile */
.hero-text {
    width: 100%;
    max-width: 700px; /* optional: keeps text from being too wide on desktop */
    margin: 0 auto; /* centers the container */
}
.hero-content p {
  font-style: italic;
}

/* Center the hero button */
.hero-buttons {
    display: flex;
    justify-content: center;
    margin-top: 4rem; /* space from paragraph above */
    align-items: center;
    margin-bottom: -1rem;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .hero-content {
        padding: 80px 20px; /* smaller padding on mobile */
        margin-top: -180px;
    }
}

.arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px; 
    flex-direction: column;
    font-size: 100px;
        margin-top: -130px;
}
.features-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        transition: 0.3s;
}
.card-effect:hover {
    background: linear-gradient(45deg, #020475, #16213e, #0a0a2e);
    filter: drop-shadow(0 0 20px rgba(0,0,0,0.5));
    border-radius: 0px;
    border-image: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet) 1.5;
}
.features-grid h3 {
        font-size: 20px;
}
@media (max-width: 1024px) {
    .features-grid {
          grid-template-columns: 1fr;
          gap: 2rem;
        }
        
}

.circle-center {
    transition: 0.3s;
}
.circle-center:hover i {
    font-size: 55px;
}
.circle-center:hover .inter-txt-sml {
    display: none;
}